* {
    box-sizing: border-box;
    margin: 0;
  } 
.app{

    background: linear-gradient(hsl(195, 25%, 0%), #152427);
    color: aliceblue;
    font-family: 'Work Sans';
    font-weight: 500;
    overflow-x: hidden;
}
body{
  margin: 0px;
  padding: 0px;
}